.container .buttons {
  text-align: center;
  margin-top: -150px;
  margin-bottom: 150px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  height: 50px;
}

button:first-child img {
  transform: rotate(180deg);
}

button:disabled {
  display: none;
}

.button {
  width: 75px;
  height: 75px;
  padding: 8px;
}
