@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(68.15deg, #2c0f53 16.62%, #562969 85.61%);
  display: grid;
  place-items: center;
}

.container {
  margin-top: 0;
  height: 100%;
  width: 100%;
}

.container .carousel {
  display: flex;
  scroll-behavior: smooth;
  align-items: center;
  height: 870px;
}

.container .carousel .item {
  background-color:#6535d4;;
  margin: 180px;
  padding: 25px;
  width: 500px;
  border-radius: 10px;
  display: none;
}

.container .carousel::-webkit-scrollbar {
  display: none;
} 

.container .carousel .active {
  display: block;
}




